model_info_backup.json
model_info_dev.json
test/

# Environment variables
.env
.streamlit/secrets.toml

# Virtual environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# macOS
.DS_Store